body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    margin-top: 10vmin;
}
#game-container{
    width: 80vmin;
    height: 80vmin;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
}
#score-text{
    font-size: 25vmin;
    font-family: Consolas, 'Courier New', Courier, monospace;
    color: #0f01;
    position: absolute;
}
.snake{
    border: 0.2vmin solid #000;
    background-color: #0f0;
}
.food{
    border: 0.2vmin solid #000;
    background-color: #f00;
}
